:root {
    --foreground-color: #101828;
    --background-color: #d1d5dc;
}

body {
    background-color: var(--background-color);
    color: var(--foreground-color);
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

header {
    background-color: var(--foreground-color);
    border-radius: 1em;
    margin: 0.5em 0;
    padding: 1em;
    color: var(--background-color);
}

header h1 {
    margin: 0;
}

.main-text {
    display: block;
    margin: 1em 0;
}

.linklist-title {
    display: block;
    font-size: 1.5em;
    margin: 0.83em 0;
    font-weight: bold;
}

ul.linklist {
    list-style: none;
    padding-left: 1em;
}

