body {
	background-color: white;
	color: black;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.title {
    color: purple;
    font-family: Arial Black, sans-serif;
    border-bottom: 1px solid purple;
}
.subtitle {
	font-size: 11pt;
	text-align: justify;
}

